In [1]:
import pandas as pd
import os

**<h4> Poverty </h4>**

1. Gini Index

**<h4> Health </h4>**

1. Life Expectancy

**<h4>Education</h4>**

1. Percentage of population ages 25+ who have completed the following
    * Upper secondary
    * Short-cycle tertiary
    * primary
    * post-secondary
    * lower secondary
    * Atleast Master's or equivalent
    * Atleast Bachelor's or equivalent
    * Atleast Doctoral or equivalent

In [2]:
csv_paths = ['../data/raw/' + file for file in os.listdir('../data/raw/') if file.endswith('csv')] #read paths of all indicator csvs into list
df = None
flag = False

for path in csv_paths: 
    
    indicator_df = pd.read_csv(path,header=2).drop(['Unnamed: 67','Country Code','Indicator Code'],axis=1) #turn each indicator into dataframe  

    indicator_df = pd.melt(indicator_df,id_vars=['Country Name','Indicator Name'],value_name=indicator_df['Indicator Name'][0],var_name='Year').drop('Indicator Name',axis=1) #melt indicator into one column

    if flag:
        df = pd.merge(left=df,right=indicator_df,on=['Country Name','Year'],how='outer') #join with other indicators
    else:
        df = indicator_df
        flag = True

In [3]:
df.head()

,Country Name,Year,"Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)","Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",Gini index,"Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)","Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)","Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)","Life expectancy at birth, total (years)","Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)","Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)"
0,Aruba,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.152000,NaN,NaN
1,Africa Eastern and Southern,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.085552,NaN,NaN
2,Afghanistan,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.535000,NaN,NaN
3,Africa Western and Central,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.845152,NaN,NaN
4,Angola,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.211000,NaN,NaN